
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Courgette&display=swap');




main{
  background-color: rgb(150, 209, 219);
  z-index: -1;
  text-align: center;

}

main div.main-div{
  z-index: 0;
  height:100vh;
  background-image: url(https://scontent.fpkr2-1.fna.fbcdn.net/v/t39.30808-6/431116565_1116096559729293_3766958340281897895_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=5f2048&_nc_ohc=_8JlfavHlJgAb6mloMF&_nc_ht=scontent.fpkr2-1.fna&oh=00_AfAKEtN1r3cKcylLwhodaFipViLN9oTbatYS5TCdsIcSLQ&oe=66255D66);
  opacity: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  
}

div.main-im{
  display: flex;
  position: absolute;
  top:100px;
  width:100%;
  align-items:center;
  justify-content:center;
}

img.main-background-img{
  position: absolute;
  object-fit: cover;
  top:-130px;
  width: 100%;
  opacity: 0.45;
  overflow-x: hidden;
  overflow: hidden;
}


h1{
  display: inline;
  font-family: Arial, Helvetica, sans-serif, cursive;
  font-weight: 800;
  text-align: center;
  font-size: 3rem;
  color: var(--bg);
  text-shadow: 0 0 .5rem #0f1a29;
  width: 100%;
  text-wrap: nowrap;
  animation: slideTop .6s ease;
  justify-content: center;
  align-items: center;
  margin-top: 40dvh;
}

@media (max-width:1200px){
  h1{
    font-size: 3rem;;
  }
  
}

@media (max-width:992px){
  h1{
    font-size: 2.5rem;;
  }
  
}


@media (max-width:768px){
  h1{
    font-size: 2rem;;
  }
  
}

@media (max-width:600px){
  h1{
    font-size: 1.75rem;
  }
}


